{% load static %}
<!DOCTYPE html>
<html lang="de" manifest="main.appcache">
<head>
    <meta charset="UTF-8">
    <title>Einkaufsliste</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{% static 'materialize.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <div id="app"></div>

    <script type="text/javascript" src="{% static 'materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'CustomChips.js' %}"></script>
    <script type="text/javascript" src="{% static 'CustomModal.js' %}"></script>
    <script type="text/javascript" src="{% static 'paho_mqtt.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>

    <script>

        const localStorageKeyModel = 'einkaufsliste:model';
        function getLocalStorage() {
            let localData = localStorage.getItem(localStorageKeyModel)

            if (localData === null) {
                return null
            } else {
                return localData
            }
        }

        function setLocalStorage(model) {
            localStorage.setItem(localStorageKeyModel, JSON.stringify(model))
        }

        const flags = {
            apiKey: "{{ api_key }}",
            clientId: "{{ client_id }}",
            userAgent: window.navigator.userAgent,
            localStore: JSON.parse(getLocalStorage())
        }

        const app = Elm.Main.init({
            node: document.getElementById('app'),
            flags: flags
        });

        window.addEventListener("focus", function() {
            app.ports.gotFocus.send("");
        });

        app.ports.writeToLocalStorage.subscribe(setLocalStorage);

        var posWatchId = navigator.geolocation.watchPosition(sendGeolocation);

        function sendGeolocation(geolocationPos) {
            app.ports.receiveGeolocation.send({
                latitude: geolocationPos.coords.latitude,
                longitude: geolocationPos.coords.longitude
            });
        }

        // can be called from Elm to initialize materialize js input chips
        function initializeMaterializeInputChips(args) {
        console.log(args);
            const parent = document.querySelector(args.parentSelector);
            const chipsContainer = parent.querySelector('.chips');

            M.chips.init(chipsContainer, {
                placeholder: 'Tags',
                autocompleteOptions: {
                  data: [],
                  limit: Infinity,
                  minLength: 1
                },
                data: []
            });
        }

        // to be called when a MQTT message arrives
        function onMessageArrived(message) {
          const msg_string = message.payloadString;
          const msg_topic = message.destinationName;

          console.log(msg_topic);
          console.log(msg_string);

          if (msg_topic == done_topic) {
            app.ports.receiveMQTTMessageDoneStatus.send(msg_string);
          } else if (msg_topic == newItem_topic) {
            app.ports.receiveMQTTMessageNewItem.send(msg_string);
          } else if (msg_topic == itemDeleted_topic) {
            app.ports.receiveMQTTMessageDeletedItem.send(msg_string);
          } else if (msg_topic == itemUpdated_topic) {
            app.ports.receiveMQTTMessageUpdatedItem.send(msg_string);
          }
        }

        // called when the client has connected
        function onConnectSuccess() {
          // Once a connection has been made, subscribe to the needed channels
          client.subscribe(done_topic, {qos: 1});
          client.subscribe(newItem_topic, {qos: 1});
          client.subscribe(itemDeleted_topic, {qos: 1});
          client.subscribe(itemUpdated_topic, {qos: 1});
        }

        // called when the connection process has failed
        function onConnectFailure() {
          connectToBroker(onMessageArrived, onConnectionLost);
        }

        // called when the client loses its connection
        function onConnectionLost(responseObject) {
          connectToBroker(onMessageArrived, onConnectionLost);
        }

        // function to attempt to connect the client to the MQTT broker
        function connectToBroker(newOnMessageArrived, newOnConnectionLost) {
          // set up the user-defined configuration
          client.onMessageArrived = newOnMessageArrived;
          client.onConnectionLost = newOnConnectionLost;

          client.connect({
            onSuccess: onConnectSuccess,
            onFailure: onConnectFailure,
            useSSL: true
          });
        }

        // configuration for the connection to the MQTT broker
        const mqtt_host = "broker.hivemq.com";
        const mqtt_port = 8884;
        const done_topic = "{{ mqtt_topic_done_updates }}";
        const newItem_topic = "{{ mqtt_topic_new_item }}";
        const itemDeleted_topic = "{{ mqtt_topic_item_deleted }}";
        const itemUpdated_topic = "{{ mqtt_topic_item_updated }}";

        // create a MQTT client instance
        const client = new Paho.MQTT.Client(mqtt_host, mqtt_port, "");

        connectToBroker(onMessageArrived, onConnectionLost);


    </script>

</body>
</html>